﻿<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewData["title"]</title>
    <link href="~/<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    
    <body>
        <header style="background-color:navajowhite; color:white; display:flex; padding:5px">
            <img src="~/images/cat3.jpg" alt="logo" height="300" width="300" style="border-radius:50%;" />
            <p class="text-dark"><i></i></p>
        </header>

        <nav>
            <a href="/Home/Index">Home</a> |
            <a href="/Home/About">About</a> |
            <a href="/Home/Contact">Contact</a> |
            <a href="/Home/Courses">Courses</a> |
            <a href="/Demo/GetProducts">Product Data</a> |
        </nav>

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        @* This method will load page contents dynamically *@
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>

        <footer style="background-color:gold; color:blueviolet">
            <h3>All Rights Reserverd Sakshi Patil</h3>
        </footer>
        <script src="~/bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>